
<!--
<h2>Setup</h2>
-->

<p>
  We will do all the exercises on the Open Science Grid. <i>If you do not have an account on the Open Science Grid,
    <a href="http://osgconnect.net/signup">please sign up</a></i>, either
    in advance of the course or first thing in the morning. It takes 5-10
    minutes to complete the sign up process and about 30 minutes to get
    your account activated.  

  Please make sure that you have the secured shell available on your laptop. 
  <em>before</em> the start of your workshop. 
</p>
    <h3>Secure Shell & Secure Copy </h3>
   <p>
      <code>ssh</code> (secure shell) is an encrypted remote login tool. It lets you connect to remote resources, such as the OSG Connect login node and interact with the machine via UNIX shell.
      Similarly, <code>scp</code> (secure copy) is a tool that facilitates encrypted file transfer. We will use both to interact with OSG Connect.
    </p>
<h3 style="margin-top: 2em;">Setup for Mac OS X and Linux </h3>
    <p>
     Most of them come with built in installation of ssh and scp, if not, install them. 
    </p>
<h3 style="margin-top: 2em;"> Windows </h3>
    <p>
     Install <a href="http://www.putty.org/ "> PuTTY </a> which is a free implementation of SSH for Windows. 
  </div>
</div>

  </div>
</div>

<h2 style="margin-top: 2em;">Check your setup</h2>

<p>
  To check your account on OSG using web shell:
</p>

<ul> 
    <li> Once you finished your <a href="http://osgconnect.net/signup">Sign Up</a>, the account
activation may take about 30 minutes. </li> 
     <li> open  <a href="https://osgconnect.net/ssh-osg/">  WebShell </a>  </li> 
     <li> type in your username and password as prompted </li>
     <li> if everthing is fine you will land on your home directory </li>
</ul> 

